@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

h1, h2, h3, h4, h5 {
  font-family: "Open Sans";
  font-weight: 300;
}

section {
  margin-bottom: 60px;

  & > h1, h2, h3, h4, h5, h6 {
    margin-bottom: 30px;
  }
}

.footer {
  text-align: right;
  margin-top: 60px;
}
