.calibration-table {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 30px;
  width: auto;
  max-width: auto;

  th, td {
    padding: 6px;
    font-weight: 300;
  }
}

.calibratable {
  [contentEditable="true"] {
    padding: 6px 20px;
    background-color: #df8505;
    color: white;
  }
}
