<:Title>
  Calibrate

<:Body>
  {{ view "status" }}

  <section>
    <h1>Calibrate</h1>

    <table class="calibration-table table table-striped">
      <thead>
        <tr>
          <th>Error</th>
          <th>=</th>
          <th>Desired Temperature</th>
          <th>-</th>
          <th>Measured Temperature</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{_error.round(1)}}</td>
          <td>=</td>
          <td><span contentEditable="true" e-keydown="accept_change(event, 'target_temperature')">{{_target_temperature.round(1)}}</span></td>
          <td>-</td>
          <td>{{_temperature.round(1)}}</td>
        </tr>
      </tbody>
    </table>

    <table class="calibration-table table table-striped">
      <thead>
        <tr>
          <th>Output</th>
          <th>=</th>
          <th>Offset</th>
          <th>+</th>
          <th>Proportional</th>
          <th>&times;</th>
          <th>Error</th>
          <th>+</th>
          <th>&Sigma; Error</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{_power.round(1)}}</td>
          <td>=</td>
          <td><span contentEditable="true" e-keydown="accept_change(event, 'offset')">{{_offset.round(1)}}</span></td>
          <td>+</td>
          <td><span contentEditable="true" e-keydown="accept_change(event, 'proportional')">{{_proportional.round(1)}}</span></td>
          <td>&times;</td>
          <td>{{_error.round(1)}}</td>
          <td>+</td>
          <td>{{_i_part.round(1)}}</td>
        </tr>
      </tbody>
    </table>

    <table class="calibration-table table table-striped">
      <thead>
        <tr>
          <th>&Sigma; Error</th>
          <th>=</th>
          <th>&Sigma; Error<sub>old</sub></th>
          <th>+</th>
          <th>Integral</th>
          <th>&times;</th>
          <th>Error</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{_i_part.round(1)}}</td>
          <td>=</td>
          <td>{{(_i_part - _integral * _error).round(1)}}</td>
          <td>+</td>
          <td><span contentEditable="true" e-keydown="accept_change(event, 'integral')">{{_integral.round(3)}}</span></td>
          <td>&times;</td>
          <td>{{_error.round(1)}}</td>
        </tr>
      </tbody>
    </table>
  </section>
