<:Title>
  Calibrate

<:Body>
  {{ view "status" }}

  <section>
    <h1>Calibrate</h1>

    <table class="calibration-table table table-striped">
      <thead>
        <tr>
          <th>Error</th>
          <th>=</th>
          <th>Desired Temperature</th>
          <th>-</th>
          <th>Measured Temperature</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{_error.round(1)}}</th>
          <th>=</th>
          <th>{{_target_temperature.round(1)}}</th>
          <th>-</th>
          <th>{{_temperature.round(1)}}</th>
        </tr>
      </tbody>
    </table>

    <table class="calibration-table table table-striped">
      <thead>
        <tr>
          <th>Output</th>
          <th>=</th>
          <th>Offset</th>
          <th>+</th>
          <th>Proportional</th>
          <th>&times;</th>
          <th>Error</th>
          <th>+</th>
          <th>&Sigma; Error</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{_power.round(1)}}</th>
          <th>=</th>
          <th>{{_offset.round(1)}}</th>
          <th>+</th>
          <th>{{_proportional.round(1)}}</th>
          <th>&times;</th>
          <th>{{_error.round(1)}}</th>
          <th>+</th>
          <th>{{_i_part.round(1)}}</th>
        </tr>
      </tbody>
    </table>

    <table class="calibration-table table table-striped">
      <thead>
        <tr>
          <th>&Sigma; Error</th>
          <th>=</th>
          <th>&Sigma; Error<sub>old</sub></th>
          <th>+</th>
          <th>Integral</th>
          <th>&times;</th>
          <th>Error</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{_i_part.round(1)}}</th>
          <th>=</th>
          <th>{{(_i_part - _integral * _error).round(1)}}</th>
          <th>+</th>
          <th>{{_integral.round(3)}}</th>
          <th>&times;</th>
          <th>{{_error.round(1)}}</th>
        </tr>
      </tbody>
    </table>
  </section>
